html,
body {
    height: 100%;
}

body {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    color: #FF8D4D;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 60px;




}

.Container {
    padding: 20px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.header {
    background: #2c3e50;
}

button {
    margin-left: 10px;
}

.tableText {
    color: #FF8D4D;
}

.devicons {
    font-size: 75px;
}

a,
a:hover {
    color: white;
}